.header {
    padding: 20px 0;
    width: 100vw;
    background-color: $bg-color;
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        list-style-type: none;
        display: flex;
        align-items:center;
    }

    &__link {
        text-decoration: none;
        color: $color;
        margin-right: 24px;
    }

    &__link2 {
        text-decoration: none;
        color: $color;
        padding: 15px 25px;
        background-color: $btn;
        border-radius: 160px;
    }
}




